{% extends 'layout/layout.twig' %}
{% import 'macros/forms.twig' as forms %}

{% block content %}
    <h1>Are you sure that you want to delete {{ client.name }} with id: {{ client.id }}?</h1>

    <form method="post" action="{{ url('clients', {'action': 'delete', 'id': client.id}) }}">
        {{ forms.input('id', client.id, 'hidden') }}
        {{ forms.input('del', 'Yes', 'submit') }}
        {{ forms.input('del', 'No', 'submit') }}
    </form>
{% endblock content %}
