{% extends 'layout/layout.twig' %}
{% import 'macros/forms.twig' as forms %}

{% block content %}
    <h1>Are you sure that you want to delete {{ user.username }} with id: {{ user.id }}?</h1>

    <form method="post" action="{{ url('users', {'action': 'delete', 'id': user.id}) }}">
        {{ forms.input('id', user.id, 'hidden') }}
        {{ forms.input('del', 'Yes', 'submit') }}
        {{ forms.input('del', 'No', 'submit') }}
    </form>
{% endblock content %}
