{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <div class="panel-heading">
        {{ translate('Users') }}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
    <tr>
        <th>Username</th>
        <th>DisplayName</th>
        <th>E-mail</th>
        <th>Date</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% if isAllowed('controller\/MyUser\\Controller\\Users:edit') %}
        {% for user in users %}
            <tr >
                <td><a href="{{ url('users', {'action': 'view', 'id': user.id}) }}">{% if user.username =="" %}_{% endif %}{{ user.username|e }}</a></td>
                <td> {{ user.displayName|e }}</td>
                <td> {{ user.email|e }}</td>
                <td> {{ user.created|date('d.m.Y H:i') }}</td>
                <td>{{ user.roles.0.roleId|e }}</td>
                <td> {% if user.state == 0 %} <button class="btn  btn-danger btn-xs nobutton" type="button">{{ translate('deleted') }}</button>
                    {% else %}
                        <button class="btn  btn-primary btn-xs nobutton" type="button">{{ translate('actived') }}</button>
                    {% endif %}</td>
                <td>
                    <a href="{{ url('users', {'action': 'edit', 'id': user.id}) }}"><button class="btn btn-success btn-outline btn-xs" type="button">{{ translate('edit') }}</button></a>
                    {% if user.state == 1 %}
                        <a href="{{ url('users', {'action': 'delete', 'id': user.id}) }}">
                        <button class="btn btn-outline btn-danger btn-xs" type="button">{{ translate('delete') }}</button>
                        </a>
                    {% else %}
                        <a href="{{ url('users', {'action': 'restore', 'id': user.id}) }}">
                        <button class="btn btn-outline btn-primary btn-xs" type="button">{{ translate('restore') }}</button>
                        </a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    {% else %}
        {% for user in users %}
            <tr>//WMD TODO:
                <a href="{{ url('blog', {'action': 'view', 'id': user.id}) }}">{{ user.username|e }}</a>
                [{{ user.created|date('d.m.Y H:i') }}]
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
        {{ paginator|raw }}
    </div>
    <!-- /.table-responsive -->

    <div class="well">
        <h4>User information</h4>
        <p>You can edit and delete users.</p>
    </div>
    </div>
    <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    </div>
{% endblock content %}