{% extends 'layout/layout.twig' %}
{% import 'macros/forms.twig' as forms %}

{% block content %}
    <h1>Are you sure that you want to delete {{ device.name }} with id: {{ device.id }}?</h1>

    <form method="post" action="{{ url('devices', {'action': 'delete', 'id': device.id}) }}">
        {{ forms.input('id', device.id, 'hidden') }}
        {{ forms.input('del', 'Yes', 'submit') }}
        {{ forms.input('del', 'No', 'submit') }}
    </form>
{% endblock content %}
