{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <div class="panel-heading">
        {{ translate('Devices') }}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Comment</th>
        <th>Status</th>
        <th>Action <a href="/devices/add" class="btn btn-outline btn-primary btn-xs" type="button">Add device</a></th>
    </tr>
    </thead>
    <tbody>
    {% if isAllowed('controller\/MyDevice\\Controller\\Devices:edit') %}
        {% for device in devices %}
            <tr >
                <td><a href="{{ url('devices', {'action': 'view', 'id': device.id}) }}">{{ device.id|e }}</a></td>
                <td> {{ device.name|e }}</td>
                <td> {{ device.comment|e }}</td>
                <td> {% if device.state == 0 %} <button class="btn  btn-danger btn-xs" type="button">{{ translate('deleted') }}</button>
                    {% else %}
                        <button class="btn  btn-primary btn-xs" type="button">{{ translate('actived') }}</button>
                    {% endif %}</td>
                <td>
                    <a href="{{ url('devices', {'action': 'edit', 'id': device.id}) }}"><button class="btn btn-success btn-xs" type="button">{{ translate('edit') }}</button></a>
                    {% if device.state == 1 %}
                        <a href="{{ url('devices', {'action': 'delete', 'id': device.id}) }}">
                        <button class="btn btn-outline btn-danger btn-xs" type="button">{{ translate('delete') }}</button>
                        </a>
                    {% else %}
                        <a href="{{ url('devices', {'action': 'restore', 'id': device.id}) }}">
                        <button class="btn btn-outline btn-primary btn-xs" type="button">{{ translate('restore') }}</button>
                        </a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    {% else %}
        {% for device in devices %}
            <tr>//WMD TODO:
                <a href="{{ url('blog', {'action': 'view', 'id': device.id}) }}">{{ device.devicename|e }}</a>
                [{{ device.created|date('d.m.Y H:i') }}]
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
        {{ paginator|raw }}
    </div>
    <!-- /.table-responsive -->

    <div class="well">
        <h4>Device information</h4>
        <p>You can edit and delete devices.</p>
    </div>
    </div>
    <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    </div>
{% endblock content %}